.about {
    padding-top: 120px;
    min-height: 680px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__photo {
        width: 400px;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &__descr {
        padding: 6px 100px 0 70px;
    }
    h2 {
        margin-top: 6px;
        margin-bottom: 0;
    }
    .divider {
        margin: 4px 0 0 0;
    }
    &__text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }
    &__skills {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 50px;
        row-gap: 20px;
    }
    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include before_circle;
        &:before {
            top: 0;
        }
        img {
            display: block;
            margin: 15px 20px 0 15px;
        }
    }
    &__skill-text {
        margin-top: 6px;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
   
}